@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: rgb(29, 155, 240); /* Matches your "black" theme's primary */
  --color-secondary: teal; /* You can change this to match your custom config */
}

@plugin "daisyui/theme" {
  name: "black";

  --color-primary: rgb(29, 155, 240); /* Custom primary color */
  --color-secondary: rgb(24, 24, 24); /* Custom secondary color */
  --color-base-100: #000000; /* Background color for "black" theme */
  --color-base-content: #ffffff; /* Text color for "black" theme */
}
